# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Environment
.env

# Logs
*.log

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Temporary
structure.txt